<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hanhf.onlinetest.mapper.QuestionMapper">
    <resultMap id="BaseResultMap" type="com.hanhf.onlinetest.bean.Question">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="answer" jdbcType="VARCHAR" property="answer"/>
    </resultMap>

    <insert id="insert" parameterType="com.hanhf.onlinetest.bean.Question">
        insert into tbl_question(title, content, answer)
        values (#{title}, #{content}, #{answer})
    </insert>

    <delete id="delete">
        delete from tbl_question where id = #{id}
    </delete>

    <update id="update" parameterType="com.hanhf.onlinetest.bean.Question">
        update tbl_question
        <set>
            <if test="title != null">
                title = #{title}
            </if>
        </set>
        <set>
            <if test="content != null">
                content = #{content}
            </if>
        </set>
        <set>
            <if test="answer != null">
                answer = #{answer}
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="findById" resultType="com.hanhf.onlinetest.bean.Question">
        select id, title, content, answer from tbl_question where id = #{id}
    </select>

    <select id="findList" resultType="com.hanhf.onlinetest.bean.Question">
        select id, title, content, answer from tbl_question
    </select>

    <select id="findListByCondition" parameterType="com.hanhf.onlinetest.bean.Question"
            resultType="com.hanhf.onlinetest.bean.Question">
        select id, title, content, answer from tbl_question
        where 1 = 1
        <if test="title != null">
            and title like '%${title}%'
        </if>
        <if test="content != null">
            and content like '%${content}%'
        </if>
    </select>
</mapper>
